#timer {
	text-align: center;
}

#question {
	text-align: center;
}

#answers {
	text-align: center;
}

#submit {
	text-align: center;
}

.panel {
	background: none;
	border: none;
}

#correct  {
	text-align: center;
}
#wrong {
	text-align: center;
}

ul {
	list-style-type: none;
	text-align: left;
	margin-left: 30%;
}

.jumbotron {
	background-image: url("../images/questionMarkJumbotron.jpeg");
	background-size:cover;
	color:white;
}