#timer {
	text-align: center;
}

#question {
	text-align: center;
}

#answers {
	text-align: center;
}

#submit {
	text-align: center;
}

#correct  {
	text-align: center;
}
#wrong {
	text-align: center;
}

ul {
	list-style-type: none;
	text-align: left;
	margin-left: 30%;
}